<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bmi.css">
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <title>BMI || Fitness and Health Center</title>
</head>

<body>
    <div class="main">
        <div class="left">
            <form action="/Bmi" method="post">

                <label for="weight">weight</label>
                <input type="text" name="weight">
                <label for="height">Height</label>
                <input type="text" name="height">
                <input type="submit" value="submit">
                <input type="reset" value="reset">
            </form>
        </div>
        <div class="right">
            <h1>What is BMI?</h1>
            <p>The body mass index (BMI) is a measure that uses your height and weight to work out if your weight is
                healthy.

                The BMI calculation divides an adult's weight in kilograms by their height in metres squared. For
                example, A BMI of 25 means 25kg/m2.</p>
            <p>For most adults, an ideal BMI is in the 18.5 to 24.9 range.

                For children and young people aged 2 to 18, the BMI calculation takes into account age and gender as
                well as height and weight.

                If your BMI is:

                below 18.5 – you're in the underweight range
                between 18.5 and 24.9 – you're in the healthy weight range
                between 25 and 29.9 – you're in the overweight range
                between 30 and 39.9 – you're in the obese range</p>
        </div>
    </div>


</body>

</html>