<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/calorie.css">
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <title>CALORIE || Fitness and Health Center</title>
</head>

<body>
    <div class="main">
        <div class="left">
            <form action="/calorie" method="post">
                <label for="height">Height in cms</label>
                <input type="text" name="calht">
                <label for="Age">Age in yrs</label>
                <input type="text" name="colAg">
                <label for="weight">weight in kgs</label>
                <input type="text" name="calwt">
                <input type="submit" value="submit">
                <input type="reset" value="reset"> 
            </form>
        </div>
        <div class="right">
            <h1>What is Calorie?</h1>
            <p>Calories are units of energy that a food or drink provides. You can usually find calorie counts listed on
                food items, and wearables like the best fitness trackers allow you monitor how many calories you're
                burning by doing different activities. Certain foods, such as fatty, fried, or processed foods, tend to
                have more calories. Other foods, such as fresh fruit and vegetables, tend to have fewer calories.
                However, some healthy fruits and vegetables can be high in calories, while low-calorie foods, such as
                diet soda, don’t provide any nutritional value. </p>
            <p>The term calorie has been in use since the early 19th century, when it was used to define the amount of
                heat required to raise the temperature of a kilogram of water from 0 degrees to 1 degree Celsius.
                Scientists measured that as one kilocalorie, which is where the shortening ‘kcal’ comes in. In fact, a
                standard calorie is made up of 1,000 small calories, or gram calories. </p>
            <p>Although restricting calories can be a practical and achievable way to lose weight in the short-to-medium
                term, there are other longer-term approaches to weight loss that can have greater benefits to your
                overall health. </p>
        </div>
    </div>

</body>

</html>