<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="images/icon.png">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <title>Fitness and Health Center</title>
    <script src="index.js"></script>
</head>

<body>
    <nav class="navbar">
        <div class="image-logo"><img src="/images/logo.PNG" alt=""></div>

        <div class="nav-links">
            <ul>
                <li><a href="/index.js">Home</a></li>
                <li><a href="/workouts">Workouts</a></li>
                <li><a href="/bmi">BmiCalci</a></li>
                <li><a href="/calorie">CalorieCalci</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <section>
        <div class="left">
            <img src="/images/arnold1.png" alt="">
            <img src="/images/arnold2.png" alt="">
            <img src="/images/arnold3.webp" alt="">
        </div>
        <div class="right">
            <p>“You have to remember something: Everybody pities the weak; jealousy you have to earn.”
                <br>― Arnold Schwarzenegger</p>
            <p>“You have to remember something: Everybody pities the weak; jealousy you have to earn.”
                <br> ― Arnold Schwarzenegger</p>
            <p>“There are no shortcuts—everything is reps, reps, reps.”
                <br>― Arnold Schwarzenegger</p>
            <p>“Money doesn't make you happy. I now have $50 million but I was just as happy when I had $48 million.”
                <br>― Arnold Schwarzenegger</p>
            <p>“Just like in bodybuilding, failure is also a necessary experience for growth in our own lives, for if
                we're never tested to our limits, how will we know how strong we really are? How will we ever grow? ”
                <br> ― Arnold Schwarzenegger</p>
            <p>“The difference between those who adapted and those who didn't, Gorton said, was a willingness to totally
                commit.”
                <br> ― Arnold Schwarzenegger</p>
            <p>The better you get, the less you run around showing off as a muscle guy. You know, you wear regular
                shirts-not always trying to show off what you have. You talk less about it. It's like you have a little
                BMW - you want to race the hell out of this car, because you know it's just going 110. But if you see
                guys driving a ferrari or a lamborghini, they slide around at 60 on the freeway because they know if
                they press on that accelerator they are going to go 170. These things are the same in every field.”
                ― Arnold Schwarzenegger</p>
        </div>
    </section>

    </div>



    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
        <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>