<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/workout.css">
    <title>WORKOUT|| Fitness and Health Center</title>
</head>
<body><div class="h1"><h1>KEY EXERCISES</h1></div>
    
    <div class="div1">
        <h2>Chest </h2>
        <div class="h3">
            <h3>Flate  bench press</h3>
            <h3>Incline  bench press</h3>
            <h3>Dumbell  flys</h3>
        </div>
        
        <img src="/images/Flat.webp" alt="">
    </div>
    <div class="div2">
        <h2>Back </h2>
        <div class="h3">
            <h3>Bent over Barbell rows</h3>
            <h3>Lat PullDown</h3>
            <h3>Dumbell PullOver </h3>
        </div>
     
        <img src="/images/Bent.webp" alt="">
    </div>
    <div class="div3">
        <h2>Shoulders </h2>
        <div class="h3">
            <h3>Barbell Military Press</h3>
            <h3>Lateral Raises</h3>
            <h3>Arnold Press </h3>
        </div>
        <img src="/images/press.webp" alt="">
    </div>
    <div class="div4">
        <h2>Legs </h2>
        <div class="h3">
            <h3>Front Barbell Squats</h3>
            <h3>Hamstring Curls</h3>
            <h3>Leg Press </h3>
        </div>
        <img src="/images/squats.webp" alt="">
    </div>
    <div class="div5">
        <h2>Tricep </h2>
        <div class="h3">
            <h3>Skull Crusher</h3>
            <h3>Tricep Pushdown</h3>
            <h3>Tricep Extension </h3>
        </div>
        <img src="/images/skull.webp" alt="">
    </div>
    <div class="div6">
        <h2>Biceps </h2>
        <div class="h3">
            <h3>Barbell Curls</h3>
            <h3>Dumbell Curls</h3>
            <h3>Spider Curls </h3>
        </div>
        <img src="/images/Curls.webp" alt="">
    </div>
</body>
</html>